<div *ngIf="havePermission('ROLE_GVCN')">
  <div class="panel panel-default">
    <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span> Thông tin </span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g" style="padding-bottom: 0px;">
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Số phòng ngủ <font size="2" color="red">*</font></label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input  type='number' class="form-control ng-pristine ng-invalid ng-touched" formControlName="numberBedroom" autofocus>
                <!-- <app-control-messages [control]="f['numberBedroom']"></app-control-messages> -->
                <!-- <div *ngIf="f['numberBedroom'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['numberBedroom'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 10</font>
                </div> 
                <div *ngIf="f['numberBedroom'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 1</font>
                </div> 
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Số phòng tắm <font size="2" color="red">*</font> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type = "number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="numberBathroom">
                <!-- <div *ngIf="f['numberBathroom'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['numberBathroom'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 10</font>
                </div> 
                <div *ngIf="f['numberBathroom'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 1</font>
                </div> 
              </div>
            </div>
            
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Số tầng <font size="2" color="red">*</font> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type = "number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="totalFloor">
                <!-- <div *ngIf="f['totalFloor'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['totalFloor'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 8</font>
                </div> 
                <div *ngIf="f['totalFloor'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 2</font>
                </div> 
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Tổng diện tích <font size="2" color="red">*</font> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type = "number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="area">
                <!-- <div *ngIf="f['area'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['area'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 500</font>
                </div> 
                <div *ngIf="f['area'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 20</font>
                </div> 
              </div>
            </div>

            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Độ rộng mặt tiền <font size="2" color="red">*</font> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type = "number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="frontWidth">
                <!-- <div *ngIf="f['frontWidth'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['frontWidth'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 20</font>
                </div> 
                <div *ngIf="f['frontWidth'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 3</font>
                </div> 
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Độ rộng mặt đường vào <font size="2" color="red">*</font></label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type = "number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="inletWidth">
                <!-- <div *ngIf="f['inletWidth'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['inletWidth'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 10</font>
                </div> 
                <div *ngIf="f['inletWidth'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 1</font>
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Khoảng cách so với trung tâm <font size="2" color="red">*</font> </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type = "number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="distanceCenter">
                <!-- <div *ngIf="f['distanceCenter'].hasError('required')">
                  <font size="2" color="red">Bắt buộc nhập</font>
                </div>  -->
                <div *ngIf="f['distanceCenter'].hasError('max')">
                  <font size="2" color="red">Giá trị lớn nhất là 30000</font>
                </div> 
                <div *ngIf="f['distanceCenter'].hasError('min')">
                  <font size="2" color="red">Giá trị nhỏ nhất là 10</font>
                </div>
              </div>
            </div>
            <div class="ui-g-12" *ngIf="f['price'].value > 0" style="text-align: center;" >
              Với những thông tin trên, hệ thống dự đoán giá của ngôi nhà là : {{f['price'].value | currency :'VND':true }}
            </div>


        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSuggestion();" class="btn btn-sm btn-info" ><i class="fa fa-search"></i> Tìm kiếm</button>
        </div>
    </form>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span> Danh sách nhà có thể bạn quan tâm</span>
      </strong>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
        [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th >STT</th>
            <th >Số phòng ngủ</th>
            <th >Số phòng tắm</th>
            <th >Số tầng</th>
            <th >Tổng diện tích</th>
            <th >Độ rộng mặt tiền</th>
            <th >Độ rộng đường vào </th>
            <th >Khoảng cách so với trung tâm</th>
            <th >Giá nhà</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td class="vt-align-center">{{index+1}}</td>
            <td class="vt-align-center" >{{item.numberBedroom}} </td>
            <td class="vt-align-center"> {{item.numberBathroom}} </td>
            <td class="vt-align-center">{{item.totalFloor}}</td>
            <td class="vt-align-center" >  {{item.area}} </td>
            <td class="vt-align-left" >  {{item.frontWidth}} </td>
            <td class="vt-align-left" > {{item.inletWidth}} </td>
            <td class="vt-align-right" >  {{item.distanceCenter}} </td>
            <td class="vt-align-right" >  {{item.price | currency :'VND':true }} </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="6">
                Không tồn tại bản ghi
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
    </div>
  </div>