<div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <p-chart type="line" [data]="dataAll" [options]="infoAll"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataBedroom" [options]="infoBedroom"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataBathroom" [options]="infoBathroom"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataFloor" [options]="infoFloor"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataArea" [options]="infoArea"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataFrontWidth" [options]="infoFrontWidth"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataInletWidth" [options]="infoInletWidth"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>
    
<div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <mat-card-content>
                <p-chart type="bar" [data]="dataDistanceCenter" [options]="infoDistanceCenter"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>
</div>


    

    
    
