




<style>
    .sonnx{
        font-size: 100px;
    }
</style>
<div fxLayout="row">
    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <div  fxLayout="row">
                    <div class="col-md-6 col-xl-6">
                        <mat-card-title> Số phòng ngủ - Giá nhà  </mat-card-title>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <p-dropdown [options]="listYear" [virtualScroll]="true" itemSize="30" (onChange)="changeYearPerson()"
                        formControlName="yearPerson"></p-dropdown>
                    </div>
                </div>
                <p-chart #chart type="bar" [data]="data"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="50%">
        <mat-card>
            <mat-card-content>
                <div  fxLayout="row">
                    <div class="col-md-6 col-xl-6">
                        <mat-card-title> Diện tích - Giá nhà</mat-card-title>
                    </div>
                    <div class="col-md-6 col-xl-6">
                        <p-dropdown [options]="listYear" [virtualScroll]="true" itemSize="30" (onChange)="changeYearPerson()"
                        formControlName="yearPerson"></p-dropdown>
                    </div>
                </div>
                <p-chart #chart type="bar" [data]="data"></p-chart>
            </mat-card-content>
        </mat-card>
    </div>

</div>