<div *ngIf="havePermission('ROLE_GVCN')">
  <div class="panel panel-default">
    <form id="formSearch" [formGroup]="formSearch">
        <div class="panel-heading">
            <strong class="text-u-c">
                <i class="fa fa-th"></i>
                <span>Thông tin tìm kiếm </span>
            </strong>
        </div>
        <div class="panel-body padding-xl ui-g">
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Số phòng ngủ</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type='number' class="form-control ng-pristine ng-invalid ng-touched" formControlName="numberBedroom" autofocus>
                <app-control-messages [control]="f['numberBedroom']"></app-control-messages>
              </div>
              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Số phòng tắm</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="numberBathroom">
                <app-control-messages [control]="f['numberBathroom']"></app-control-messages>
              </div>
            </div>
            
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Số tầng</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="totalFloor">
                <app-control-messages [control]="f['totalFloor']"></app-control-messages>
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Tổng diện tích</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="area">
                <app-control-messages [control]="f['area']"></app-control-messages>
              </div>
            </div>

            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Độ rộng mặt tiền Từ </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 0px;">
                <div class="ui-g-5">
                  <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="frontWidthFrom">
                  <app-control-messages [control]="f['frontWidthFrom']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Đến</label>
                <div class="ui-g-5">
                  <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="frontWidthTo">
                  <app-control-messages [control]="f['frontWidthTo']"></app-control-messages>
                </div>
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Độ rộng mặt đường vào Từ</label>
              <div class="ui-g-12 ui-md-6 ui-lg-3" style="padding: 0px;">
                <div class="ui-g-5">
                  <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="inletWidthFrom">
                  <app-control-messages [control]="f['inletWidthFrom']"></app-control-messages>
                </div>
                <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right">Đến</label>
                <div class="ui-g-5">
                  <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="inletWidthTo">
                  <app-control-messages [control]="f['inletWidthTo']"></app-control-messages>
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" style="padding-top :5px">Khoảng cách tới trung tâm : Từ </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="distanceCenterFrom">
                <app-control-messages [control]="f['distanceCenterFrom']"></app-control-messages>
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Khoảng cách tới trung tâm : Đến </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="distanceCenterTo">
                <app-control-messages [control]="f['distanceCenterTo']"></app-control-messages>
              </div>
            </div>

            <div class="ui-g-12">
              <label class="ui-g-12 ui-md-6 ui-lg-2 control-label vt-align-right" style="padding-top :5px">Giá nhà: Từ </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="priceFrom">
                <app-control-messages [control]="f['priceFrom']"></app-control-messages>
              </div>

              <label class="ui-g-12 ui-md-6 ui-lg-3 control-label vt-align-right">Giá nhà: Đến </label>
              <div class="ui-g-12 ui-md-6 ui-lg-3">
                <input type="number" class="form-control ng-pristine ng-invalid ng-touched" formControlName="priceTo">
                <app-control-messages [control]="f['priceTo']"></app-control-messages>
              </div>
            </div>

        </div>
        <div class="panel-footer vt-area-button">
          <button type="submit" (click)="processSearch();" class="btn btn-sm btn-info" ><i class="fa fa-search"></i> Tìm kiếm</button>
        </div>
    </form>
  </div>
  
  
  <div class="panel panel-default">
    <div class="panel-heading vt-relative">
      <strong class="text-u-c">
        <i class="fa fa-th"></i>
        <span> Danh sách nhà </span>
      </strong>
      <div class="vt-absolute vt-shotcut-button-in-heading">
        <div>
        <button type="button" (click)="prepareSaveOrUpdate()" class="btn btn-sm btn-info"><i class="fa fa-plus"></i> Thêm mới</button>
        </div>
      </div>
    </div>
    <div class="panel-body panel-table">
      <p-table #ptable [value]="resultList.data" [paginator]="resultList.data && resultList.data.length" (onLazyLoad)="processSearch($event)"
        [lazy]="true" [rows]="10" [totalRecords]="resultList.recordsTotal" [responsive]="true" [lazyLoadOnInit]="false"
        tableStyleClass="table table-wrapper table-hover table-striped b-t b-b" >
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col class="size-1">
            <col class="size-1">
            <col class="size-1">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
            <col class="size-4">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th >STT</th>
            <th >Sửa</th>
            <th >Xóa</th>
            <th >Số phòng ngủ</th>
            <th >Số phòng tắm</th>
            <th >Số tầng</th>
            <th >Tổng diện tích</th>
            <th >Độ rộng mặt tiền</th>
            <th >Độ rộng đường vào </th>
            <th >Khoảng cách so với trung tâm</th>
            <th >Giá nhà</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-index="rowIndex">
          <tr>
            <td class="vt-align-center">{{index+1}}</td>
            <td class="vt-align-center" >
              <a class="btn-table edit" (click)="prepareSaveOrUpdate(item.id)" [title]="'Sửa'"><i class="fa fa-edit"></i></a>
            </td>
            <td class="vt-align-center">
              <a class="btn-table delete" (click)="processDelete(item)" [title]="'Xóa'"><i class="fa fa-trash-alt"></i></a>
            </td>
            <td class="vt-align-right" >{{item.numberBedroom}} </td>
            <td class="vt-align-right"> {{item.numberBathroom}} </td>
            <td class="vt-align-right">{{item.totalFloor}}</td>
            <td class="vt-align-right" >  {{item.area}} </td>
            <td class="vt-align-right" >  {{item.frontWidth}} </td>
            <td class="vt-align-right" > {{item.inletWidth}} </td>
            <td class="vt-align-right" >  {{item.distanceCenter}} </td>
            <td class="vt-align-right" >  {{item.price | currency :'VND':true }} </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr class="emptymessage">
            <td [attr.colspan]="6">
                Không tồn tại bản ghi
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <table-footer [resultList]="resultList"></table-footer>
        </ng-template>
      </p-table>
    </div>
    </div>
  </div>